<div class="header pb-6">
    <div class=" container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-dark d-inline-block mb-0">Asset Accouting</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)"> <i class="far fa-file-alt text-dark"> </i> </a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div id="chartdiv" style="width: 100%; height: 300px"></div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h4 class="m-0">Asset List</h4>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Asset</th>
                                <th scope="col">Asset Cost</th>
                                <th scope="col">Supplier Name</th>
                                <th scope="col">Supplier Code</th>
                                <th scope="col">Location</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr>
                                <th scope="row">Asset 1</th>
                                <td>RM200.00</td>
                                <td>Supplier 1</td>
                                <td>SP1012</td>
                                <td>Location A</td>
                            </tr>
                            <tr>
                                <th scope="row">Asset 2</th>
                                <td>RM5200.00</td>
                                <td>Supplier Z1</td>
                                <td>SP1381</td>
                                <td>Location AAZ</td>
                            </tr>
                            <tr>
                                <th scope="row">Asset 3</th>
                                <td>RM200.00</td>
                                <td>Supplier PO</td>
                                <td>SP1242</td>
                                <td>Location DAA</td>
                            </tr>
                            <tr>
                                <th scope="row">Asset 14/th>
                                <td>RM1200.00</td>
                                <td>Supplier 9A</td>
                                <td>SP1231</td>
                                <td>Location J</td>
                            </tr>
                            <tr>
                                <th scope="row">Asset 6</th>
                                <td>RM450.00</td>
                                <td>Supplier A1</td>
                                <td>SP1019</td>
                                <td>Location Z</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>