<div class="header pb-6">
    <div class=" container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-dark d-inline-block mb-0">Cashbook</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)"> <i class="far fa-file-alt text-dark"> </i> </a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h4 class="m-0">Petty Cash Transaction</h4>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Date</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr>
                                <th scope="row">#PC121</th>
                                <td>1 January 2020</td>
                            </tr>
                            <tr>
                                <th scope="row">#PC122</th>
                                <td>2 January 2020</td>
                            </tr>
                            <tr>
                                <th scope="row">#PC123</th>
                                <td>3 January 2020</td>
                            </tr>
                            <tr>
                                <th scope="row">#PC124</th>
                                <td>4 January 2020</td>
                            </tr>
                            <tr>
                                <th scope="row">#PC125</th>
                                <td>5 January 2020</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h4 class="m-0">JomPay Payment</h4>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Date</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr>
                                <th scope="row">#JP191</th>
                                <td>10 January 2020</td>
                            </tr>
                            <tr>
                                <th scope="row">#JP192</th>
                                <td>11 January 2020</td>
                            </tr>
                            <tr>
                                <th scope="row">#JP193</th>
                                <td>12 January 2020</td>
                            </tr>
                            <tr>
                                <th scope="row">#JP194</th>
                                <td>13 January 2020</td>
                            </tr>
                            <tr>
                                <th scope="row">#JP195</th>
                                <td>14 January 2020</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h4 class="m-0">EFT Transaction</h4>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Date</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr>
                                <th scope="row">#EF172</th>
                                <td>22 January 2020</td>
                            </tr>
                            <tr>
                                <th scope="row">#EF174</th>
                                <td>23 January 2020</td>
                            </tr>
                            <tr>
                                <th scope="row">#EF175</th>
                                <td>25 January 2020</td>
                            </tr>
                            <tr>
                                <th scope="row">#EF176</th>
                                <td>26 January 2020</td>
                            </tr>
                            <tr>
                                <th scope="row">#EF177</th>
                                <td>27 January 2020</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div id="chartdiv" style="width: 100%; height: 270px"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h4 class="m-0">Bank</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Bank's Code</label>
                                <input class="form-control" placeholder="Enter ">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Address</label>
                                <input class="form-control" placeholder="Enter address">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Contact Person</label>
                                <input class="form-control" placeholder="Enter contact person">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Phone No.</label>
                                <input class="form-control" placeholder="Enter phone no.">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Email</label>
                                <input class="form-control"  placeholder="Enter email">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Fax</label>
                                <input class="form-control"  placeholder="Enter fax">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Telex</label>
                                <input class="form-control"  placeholder="Enter telex">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Account No.</label>
                                <input class="form-control"  placeholder="Enter account no.">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Type of Account</label>
                                <input class="form-control">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Currency</label>
                                <input class="form-control">
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h4 class="m-0">Cheque</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Cheque No.</label>
                                <input class="form-control" placeholder="Enter cheque no.">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Payment Voucher Code</label>
                                <input class="form-control" placeholder="Enter payment voucher code">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Payee Name</label>
                                <input class="form-control" placeholder="Enter payee name">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Payee Code</label>
                                <input class="form-control" placeholder="Enter payee code">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Bank Account Code</label>
                                <input class="form-control" placeholder="Enter bank account code">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Amount</label>
                                <input class="form-control" placeholder="Enter amount">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Date</label>
                                <input class="form-control" placeholder="Enter date">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Payment Description</label>
                                <input class="form-control" placeholder="Enter payment desciption">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Reference No.</label>
                                <input class="form-control" placeholder="Enter reference no.">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Status</label>
                                <input class="form-control" placeholder="Enter status">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>